/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$primarycolor: white;
$secondarycolor: #8039C0;
$titlefont: Monument Extended;
$bodyfont: Gosha Sans;
$titlesize: 12vw;

@mixin fullScreen {
    width: 100vw;
    height: 100vh;
}

@mixin borderText {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
}

@mixin linkHover {
    -webkit-text-fill-color: white;
    transition: 0.5s;
}

@font-face {
    font-family: Gosha Sans;
    src: url('../font/GoshaSans-Regular.otf');
}

@font-face {
    font-family: Monument Extended;
    src: url('../font/MonumentExtended-Regular.otf');
}

html {
    background-color: black;
    font-family: $bodyfont, sans-serif;
    color: $primarycolor;
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

// navigation bar

nav {
    width: 94vw;
    padding-left: 3vw;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    font-size: 1.3em;
    .logo {
        color: $primarycolor;
    }
}

.menu-icon {
    transform: scale(0.7);
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: $primarycolor;
    margin: 5px 0;
    transition: 0.4s;
}

.change {
    transition: 0.5s;
}

.bar1.change {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.bar2.change {opacity: 0}

.bar3.change {
    -webkit-transform: rotate(45deg) translate(-6px, -4px);
    transform: rotate(45deg) translate(-6px, -4px);
}

.menu-overlay {
    display: none;
    &.show {
        @include fullScreen;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.8);
    }
    a {
        font-family: $titlefont;
        font-size: 3em;
        text-transform: uppercase;
        padding: 0.5em;
        @include borderText;
        &:hover {
            -webkit-text-fill-color: white;
            transition: 0.3s;
        }
        &:active {
            -webkit-text-fill-color: white;
        }
    }
}

// cover slides

.background {
    position: absolute;
    @include fullScreen;
    z-index: -1;
    object-fit: cover;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include fullScreen;
}

.middle {
    display: grid;
    grid-template-columns: 3vw 12vw 70vw 12vw 3vw;
    place-items: center center;
    padding-top: calc(50vh - 5vw);
    .right {
        grid-column: 4 / 5;
        
    }
    svg :hover {
        fill: white;
        transition: 0.5s;
    }
}

.title {
    grid-column: 3 / 4;
    font-family: $titlefont;
    font-size: $titlesize;
    @include borderText;
    -webkit-text-stroke-width: 2px;
    &:hover {
        @include linkHover;
    }
}

.explore {
    padding-top: calc(25vh - (10vw + 3em) / 2);
    a {
        border: 2px solid #FFFFFF;
        color: white;
        background-color: transparent;
        padding: 1em 2em;
        font-size: 1em;
        text-transform: uppercase;
        &:hover {
            background-color: white; 
            color: black;   
            transition: 0.5s;
        }
    }
}

// info section

#info {
    padding: 10em calc(3vw + 130px) 5vh calc(3vw + 130px);
    height: 200vh;
    max-width: 1000px;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}
